<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>

<body>
    <h2>Cadastro de Usuário</h2>
    <form method="post" action="{% url 'cadastro' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Cadastrar</button>
    </form>
</body>
<script>
    // Receber seletor do id telefone
    var telefone = document.getElementById("id_telefone");

    telefone.addEventListener("input", function () {
        // Remover os caracteres não numéricos usando a expressão regular /\D/g e limitar a 11 dígitos.
        var limparValor = telefone.value.replace(/\D/g, "").substring(0, 11);

        // Dividir a string em um array de caracteres individuais.
        var numerosArray = limparValor.split("");

        // Criar a variável para receber o número formatado
        var numeroFormatado = "";

        // Acessa o IF quando a quantidade de números é maior do que zero
        if (numerosArray.length > 0) {
            // Formatar o DD e concatenar o valor
            // slice - extraie uma parte do array
            // join - unir os elementos do array em uma única string
            numeroFormatado += `(${numerosArray.slice(0, 2).join("")})`;
        }

        // Acessa o IF quando a quantidade de números é maior do que dois
        if (numerosArray.length > 2) {
            // Formatar o número do telefone e concatenar o valor
            // slice - extraie uma parte do array
            // join - unir os elementos do array em uma única string
            numeroFormatado += ` ${numerosArray.slice(2, 7).join("")}`;
        }

        // Acessa o IF quando a quantidade de números é maior do que sete
        if (numerosArray.length > 7) {
            // Formatar o número do telefone e concatenar o valor
            // slice - extraie uma parte do array
            // join - unir os elementos do array em uma única string
            numeroFormatado += `-${numerosArray.slice(7, 11).join("")}`;
        }

        // Enviar para o campo o número formatado
        telefone.value = numeroFormatado;
    });
</script>
</html>